doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="elements.css")
    link(rel="stylesheet", href="components.css")
  body 
    div.layout
      div.body
        table(class="hero", style=`background-image: url('${api_url}/images/biotherm-hero.png');`)
          tbody
            tr 
              td(class="va-t")
                a(href="https://kornfeil.cz", target="_blank")
                  img(src=`${api_url}/images/logo.png`, class="hero-logo")
              td.va-t
                div.socials
                  a(href="https://facebook.com/kornfeilcz", target="_blank")
                    img(src=`${api_url}/images/fcb.svg`, class="mr5")
                  a(href="https://instagram.com/kornfeil_bakeryovens", target="_blank")                  
                    img(src=`${api_url}/images/insta.svg`)
            tr 
              td(colspan="2", class="va-b")
                span KORNFEIL BIOTHERM
                h1.page-header Zbavte se závislosti na fosilních palivech
        div(class="content p50")
          table.intro
            tbody
              tr 
                td
                  div.perex
                    h2(class="section-header primary") Termoolejový kotel BioTherm
                    p.perex Zbavte se závislosti na fosilních palivech a jejich rostoucích cenách.
                    p.perex Ušetřete až 70 % nákladů na vytápění vašich pecí.
                    a(class="btn", href="https://www.kornfeil.cz/produkty/vytapeni-pekarskych-peci/biotherm/", target="_blank") Přejít na produkt
          //- table(class="number mt60")
          //-   tbody
          //-     tr 
          //-       td 
          //-         span.primary 95 %
          //-         p Využití vstupních energií
          //- table(class="number mt30")
          //-   tbody
          //-     tr 
          //-       td 
          //-         span.primary 1 000 l
          //-         p Vody ohřejete na 55°C z 90 kg páry
          table(class="mt60")
            tbody
              tr 
                td 
                  img(src=`${api_url}/images/biotherm-schema.png` style="object-fit: contain;")
                  div(class="perex mt60")
                    h2(class="section-header black") princip
                    p(class="primary") Termoolejový kotel BioTherm je ekologickou alternativou, která k vytápění termoolejových pecí využívá místo fosilních paliv zbytkový přírodní materiál. Kotel tak můžete vytápět například pomocí štěpek nebo pelet.
          table(class="mt60")
            tbody
              tr
                td
                  h2(class="section-header") Výhody 
              each icon in icons 
                tr.icon 
                  td.va-c
                    img(src=`${api_url}/${icon.fileName}`, class="mr10", style="object-fit: contain;")
                  td.va-c
                    h3.primary= icon.header
                    p.mt10= icon.paragraph 
        table(class="cta")
          tbody 
            tr 
              td.p50
                h3 #{cta.header}
                p(class="perex mt30") #{cta.perex}
                a(class="btn mt30", href="https://www.kornfeil.cz/kontakt/", target="_blank") #{cta.btnLabel}
        //- table(class="eco")
        //-   tbody 
        //-     tr 
        //-       td.p50 
        //-         each p in eco.perex
        //-           p(class="perex white") #{p}
        table(class="footer")
          tbody
            tr
              td(class="va-t p50")
                a(href="https://kornfeildeo.com", target="_blank") 
                  img(src=`${api_url}/images/claim.svg`, class="claim mb50")
              td(class="va-t p50")
                div.socials
                  a(href="https://facebook.com/kornfeilcz", target="_blank")
                    img(src=`${api_url}/images/fcb.svg`, class="mr5")
                  a(href="https://instagram.com/kornfeil_bakeryovens", target="_blank")                  
                    img(src=`${api_url}/images/insta.svg`)
            tr 
              td(colspan="2", class="p50 pb30 pt0 bb")
                //- a(class="link link-big", href="https://kornfeildeo.com") www.kornfeildeo.com
                a(class="link link-big mb30", href="https://kornfeil.cz", target="_blank") www.kornfeil.cz
            tr
              td(class="p50 pt30")
                div
                  a(class="link", href="*|UNSUB|*") Odhlásit z odběru newsletterů 
