doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="elements.css")
    link(rel="stylesheet", href="components.css")
  body 
    div.layout
      div.body
        table(class="hero", style=`background-image: url('${api_url}/images/biotherm-hero.png');`)
          tbody
            tr 
              td(class="va-t")
                a(href="https://www.kornfeilofen.de", target="_blank")
                  img(src=`${api_url}/images/logo-trans.png`, class="hero-logo")
              td.va-t
                div.socials
                  a(href="https://facebook.com/kornfeilcz", target="_blank")
                    img(src=`${api_url}/images/fcb.png`, class="mr5")
                  a(href="https://instagram.com/kornfeil_bakeryovens", target="_blank")                  
                    img(src=`${api_url}/images/insta.png`)
            tr 
              td(colspan="2", class="va-b")
                span KORNFEIL BIOTHERM
                h1.page-header Get rid of your dependence on fossil fuels
        div(class="content p30")
          table.intro
            tbody
              tr 
                td
                  div.perex
                    h2(class="section-header primary") Thermal-oil boiler BioTherm
                    p.perex Get rid of your dependence on fossil fuels and their rising prices.
                    p.perex Save up to 70% of the heating costs of your thermo-oil ovens.
                    a(class="btn", href="https://www.kornfeil.com/products/heating-baking-ovens/biotherm/", target="_blank") Go to the product
          //- table(class="number mt60")
          //-   tbody
          //-     tr 
          //-       td 
          //-         span.primary 95 %
          //-         p Využití vstupních energií
          //- table(class="number mt30")
          //-   tbody
          //-     tr 
          //-       td 
          //-         span.primary 1 000 l
          //-         p Vody ohřejete na 55°C z 90 kg páry
          table(class="mt60")
            tbody
              tr 
                td 
                  img(src=`${api_url}/images/schema_biotherm_en.png` style="object-fit: contain; height: auto;")
                  div(class="perex mt60")
                    h2(class="section-header black") Principle
                    p(class="primary") The BioTherm thermo-oil boiler is an eco-friendly alternative that uses residual natural material instead of fossil fuels to heat thermo-oil ovens. You can heat the boiler with wood chips or pellets, for example.
          table(class="mt60")
            tbody
              tr
                td
                  h2(class="section-header") Advantages 
              each icon in icons 
                tr.icon 
                  td.va-c
                    img(src=`${api_url}/${icon.fileName}`, class="mr10")
                  td.va-c
                    h3.primary= icon.header
                    p.mt10= icon.paragraph 
        table(class="cta")
          tbody 
            tr 
              td.p50
                h3 #{cta.header}
                p(class="perex mt30") #{cta.perex}
                a(class="btn mt30", href="https://www.kornfeil.com/contact/", target="_blank") #{cta.btnLabel}
        table(class="footer")
          tbody
            tr
              td(class="va-t p50")
                a(href="https://www.kornfeil.com/", target="_blank") 
                  img(src=`${api_url}/images/claim.png`, class="claim mb50")
              td(class="va-t p50")
                div.socials
                  a(href="https://facebook.com/kornfeilcz", target="_blank")
                    img(src=`${api_url}/images/fcb.png`, class="mr5")
                  a(href="https://instagram.com/kornfeil_bakeryovens", target="_blank")                  
                    img(src=`${api_url}/images/insta.png`)
            tr 
              td(colspan="2", class="p50 pb30 pt0 bb")
                //- a(class="link link-big", href="https://kornfeildeo.com") www.kornfeildeo.com
                a(class="link link-big mb30", href="https://www.kornfeil.com/", target="_blank") www.kornfeil.com
            tr
              td(class="p50 pt30")
                div
                  a(class="link", href="*|UNSUB|*") Unsubscribe from newsletters
